<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Ex-Date</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{pd.Username}}</td>
        <td>{{pd.CardNumber}}</td>
        <td>{{pd.ExpirationDate}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.CardId)"></i>
        </td>
    </tr>
    </tbody>
</table>